body{
    font-family:  Arial, sans-serif, 'Courier New', Courier, monospace;
}
#main_content
{
    margin-top: 10px;
}
#profile
{
    display: flex;
    justify-content: space-evenly;
    background-color: #A1EEFE;
}
#professional_info{
    float: right;
    width: 70%;
    height: 340px;
    overflow-y: scroll;
}
#personal_coordinate{
    float: left;
    width: 20%;
    height: 340px;
    background-color: #E8ECEF;
    padding: 8px 0 0 8px;
    border-radius: 8px;
}
.bullet_title
{
    font-weight: bold;
}
.bullet_content{
    color: rgb(58, 58, 58);
}
.bullet_date{
    font-style: italic;
    color: rgba(87, 85, 85, 65%);
}
.bullet_detail{
    margin: 10px 0 10px 0;
    color: #ff0099;
}
.section_title
{
    padding: 5px;
    margin: 0px;
}
ul
{
    margin: 0px;
}
li{
    margin: 10px;
    padding: 6px;
}
.experience
{
    margin-top: 700px;
}
footer
{
    height: 30px;
    width: 100%;
    display: flex;
}
#passions
{
    background-color: rgba(129, 198, 255, 0.199);
    height: 20px;
    width: 100%;
    bottom: 0px;
    padding: 10px;
    border-radius: 5px;
}
#linkedIn_profile
{
    float: right;
    display: flex;
    width: 150px;
    align-items: center;
}
a{
    text-decoration: none;
    color: #0077B7;
    font-size: 14px;
    margin-left: 5px;
}
a:hover {
    color: rgb(140, 0, 255);
}
a:active {
    color: rgb(255, 82, 83);
  }