body{
    font-family:  Arial, sans-serif, 'Courier New', Courier, monospace;
    width: 80%;
    margin: 0 auto;
}
#main_content
{
    margin-top: 10px;
    width: 100%;
    display: flex;
}
#profile
{
    display: flex;
    justify-content: space-evenly;
    background-color: #A1EEFE;
}
#profile_img{
    display: flex;
}
#professional_info{
    float: right;
    width: 80%;
    height: 450px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;}

#personal_coordinate{
    float: left;
    width: 20%;
    height: 100%;
    background-color: #E8ECEF;
    border-radius: 8px;
}
#profile_holder{
    display: flex;
    justify-content: space-evenly;
}
.pr_wrapper{
padding-left: 10px;
}
.content_wrapper{
    padding: 10px;
}
.bullet_title
{
    font-weight: bold;
}
.bullet_content{
    color: rgb(58, 58, 58);
}
.bullet_date{
    font-style: italic;
    color: rgba(87, 85, 85, 65%);
}
.bullet_detail{
    margin: 10px 0 10px 0;
    color: #0073B1;
}
.section_title
{
    padding: 5px;
    margin: 0px;
}
ul
{
    margin: 0px;
}
li{
    margin: 10px;
    padding: 6px;
}
.experience
{
    margin-top: 700px;
}
footer
{
    height: 30px;
    width: 100%;
    margin-top: 30px;
    display: flex;
}
#passions
{
    background-color: rgba(129, 198, 255, 0.199);
    height: 20px;
    width: 100%;
    bottom: 0px;
    padding: 10px;
    border-radius: 5px;
}
#linkedIn_profile
{
    float: right;
    display: flex;
    width: 150px;
    align-items: center;
}
#linkedIn_profile a{
    text-decoration: none;
    color: #0077B7;
    font-size: 14px;
    margin-left: 5px;
}
#linkedIn_profile a:hover {
    color: rgb(140, 0, 255);
}
#linkedIn_profile a:active {
    color: rgb(255, 82, 83);
}